# Python
__pycache__/
*.py[cod]
*$py.class

# Distribution / Packaging
dist/
build/
*.egg-info/
.eggs/

# Virtual Env
.venv
venv/
ENV/

# IDEs
.vscode/
.idea/

# Local data (if we want to keep the dictionary user-specific, but usually we want to commit the base dictionary)
# dictionary_data.json 
